<p>1. [Name] for Participant Name</p>
<p>2. [First_Name] for Participant First Name</p>
<p><strong>3. [Last_Name] for Participant Last Name</strong></p>
<ol>
    <li class="ql-align-center">4. [Event_Name] for Event Name</li>
</ol>
<p><u>5. [Event_Start_Date] for Event Start Date</u></p>
<p>6. [Event_End_Date] for Event End Date</p>
<h1><s>7. [Event_Start_Time] for Event Start Time</s></h1>
<p>8. [Event_End_Time] for Event End Time</p>
<p>9. [Event_Time_Zone] for Event Time Zone</p>
<p>10. [Instructor] for Instructor Name</p>
<p>11. [Meeting_Link_1] for Training Link Day 1</p>
<p>12. [Meeting_Link_2] for Training Link Day 2</p>
<p>13. [Whiteboard_link] for Whiteboard Link</p>
<p>14. [Course_Material_Link] for Course Material Link</p>
<p>15. [Company] for Company Name</p>
<p>16. [Company_Email] for Company Email</p>
<p>17. [Company_Phone] for Company Phone</p>
